.bundle-title,
.words-count {
  text-align: left;
}

.bundle-title {
  margin-bottom: 16px;

  font-family: DejaVu Sans Mono, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.words-count {
  margin-bottom: 12px;

  font-family: DejaVu Sans Mono, sans-serif;
  font-size: 14px;
}
